
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, a{
font-family: 'Fredoka', sans-serif;
}

p{
font-family: 'Maven Pro', sans-serif;
}


.navbar {
background-color: #EFEFE3 !important;
}
  
body {
background-color: #ECF1EB;
}

.login {
padding-top: 100px;
width: 300px;
}

.center {
display: flex;
align-items: center;
justify-content: center;
}

.form-field {
display: flex;
flex-direction: column;
margin-bottom: 15px;
padding: 5px;
}

.login-button {
padding: 5px 15px 5px 15px;
background-color: #1BC4BD;
color: #ECF1EB;
font-family: 'Fredoka', sans-serif;
}

.section {
position: relative;
display: flex;
flex-direction: column;
align-items: center;
min-height: 400px;
padding: 100px 20vw;
background-color:#093E5E;
}

.custom-shape-divider-top-1648027069 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1648027069 svg {
    position: relative;
    display: block;
    width: calc(155% + 1.3px);
    height: 99px;
}

.custom-shape-divider-top-1648027069 .shape-fill {
    fill: #ECF1EB;

}
