<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="center">
    <img class="login" src="../Static/IMG/FT.JVMLogoClear.png" th:src="'/IMG/Logo_text.png'">
</div>
<div class="center">
    <div class="about">
        <p class="textC">FT. JVM was started 2022 during a freak accident where 5 people ended up being randomly assigned to
            one-another.</p>
        <p class="textC">After rigorus debate a project was decided on and the creation process was under way.</p>
        <p class="textC">Through a cat with what could possibly be hypnotic powers the project quickly came to be, as if the people
            where possesed.</p>
        <p class="textC">For legal reasons this text is complete make belive... or so i am told...</p>
    </div>
</div>
</body>
</html>