<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ApiTest</title>
</head>
<body>
<tr th:each = "q : ${questions}" >
    <td th:text ="${q.category}"></td>
    <br>
    <td th:text ="${q.type}"></td>
    <br>
    <td th:text ="${q.difficulty}"></td>
    <br>
    <td th:text="${q.question}"></td>
    <br>
    <td th:text="${q.correct_answer}"></td>
    <br>
    <p th:each=" qi : ${q.incorrect_answers}">
        <span th:text="${qi}"></span>
        <br>
    </p>
    <br>
    <br>
    <br>
</tr>

</body>
</html>