<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">

    <title>Trivimania - Create User</title>
</head>
<body>
<div class="center">
    <img class="login" src="../Static/IMG/Logo_text.png" th:src="'/IMG/Logo_text.png'">
</div>

<div class="center">
    <form th:object="${user}" class="form-newUser" method="POST" action="/createuser">

        <input th:field="*{firstname}" class="form-field" type="text" id="newFirstname" placeholder="First name"
               name="firstname">
        <p th:if="${#fields.hasErrors('firstname')}" th:errorclass="error" th:errors="*{firstname}"/>
        <input th:field="*{lastname}" class="form-field" type="text" id="newLastname" placeholder="Last name"
               name="lastname">
        <p th:if="${#fields.hasErrors('lastname')}" th:errorclass="error" th:errors="*{lastname}"/>
        <input th:field="*{email}" class="form-field" type="email" id="newEmail" placeholder="Email" name="email">
        <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"/>
        <input th:field="*{username}" class="form-field" type="text" id="newUsername" placeholder="Username"
               name="username">
        <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"/>
        <input th:field="*{password}" class="form-field" type="password" id="newPasword" placeholder="Password"
               name="password">
        <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"/>
        <div class="center">
            <button class="login-button" type="submit">Create new user</button>
        </div>
    </form>
</div>

<div class="section">
    <div class="custom-shape-divider-top-1648027069">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
                  class="shape-fill"></path>
        </svg>
    </div>
</div>
</div>
</body>
</html>