<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../static/normalize.css" th:href="'/normalize.css'">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <script src="https://kit.fontawesome.com/d7d94cd613.js" crossorigin="anonymous"></script>
</head>

<body>
    <div th:insert="fragments/header :: header"></div>

    <section class="site">
        <form class="game-select-card" method="post">

            <section th:if="${limit} == null">
                <h2 class="game-select-title">Choose your category</h2>
                <div th:each=" category : ${categories}">
                    <button th:text="${category.fancyString}" class="option-button" type="submit" name="category" th:value="${category.urlString}"> A good answer, but is it correct?</button>
                </div>
            </section>
            <section th:if="${limit} != null">
                <h2 class="game-select-title">Choose number of questions</h2>
                <div th:each=" l : ${limit}">
                    <button th:text="${l} + ' Questions'" class="option-button" type="submit" name="limit" th:value="${l}"> Number of questions</button>
                </div>
            </section>
        </form>
    </section>
</body>
</html>