<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>Trivimania</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="center">

    <div class="center gameboard">
        <div class="center"><img class="profile" th:src="${'/IMG/Avatar/18.png'}" src="../Static/IMG/Avatar/18.png"></div>
        <form th:object="${questions}"  method="POST" action="#">
            <div class="center question" th:text="${questions[0].question}"> A question about something profound, that gives you a hard time figuring out
                the answer?
            </div>
            <div th:each=" q : ${questions[0].mixed_answers}" class="center buttons">
                <button th:text="${q}" class="option-button" type="submit" value="#"> A good answer, but is it correct?</button>

                <!-- Fallback...
                 <button th:text="${questions[0].mixed_answers[0]}" class="option-button" type="submit" value="#"> A good answer, but is it correct?</button>
                 <button th:text="${questions[0].mixed_answers[1]}" class="option-button" type="submit" value="#"> Another good answer...</button>
                 <button th:text="${questions[0].mixed_answers[2]}" class="option-button" type="submit" value="#"> This is defenetly wrong... i think... it probably
                     is... right?... Right????
                 </button>
                 <button th:text="${questions[0].mixed_answers[3]}" class="option-button" type="submit" value="#"> Just WRONG!</button>
                 -->

            </div>
        </form>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>