<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Trivimania</title>
    <script src="https://kit.fontawesome.com/d7d94cd613.js" crossorigin="anonymous"></script>
</head>
<body >
<div th:insert="fragments/header :: header"></div>

<div class="center-wrapper">
    <!--timer / progressbar-->
       <div class="progress-container">
            <div class="progress-wrapper">
                <img class="svg-icons" th:src="${'/IMG/icons/stopwatch.svg'}" src="../Static/IMG/icons/stopwatch.svg">
                <div class="counter">0</div>
                <div class="progressbar">
                    <span class="progress"></span>
                </div>
            </div>
       </div>
    <!-- Game board -->
    <div class="center gameboard">
        <div class="center"><img class="profile" th:src="${user.avatarId != null} ? 'IMG/Avatar/'+${user.avatarId}+'.png': '/IMG/Avatar/18.png'" src="../Static/IMG/Avatar/18.png"></div>
        <form th:object="${currentQuestion}"  method="POST" action="/nextQuestion" name="quizForm">
            <div class="center question" th:text="${currentQuestion.question}"> A question about something profound, that gives you a hard time figuring out
                the answer?
            </div>
            <div th:each=" q : ${currentQuestion.mixedAnswers}" class="center buttons">
                <button th:text="${q}" class="option-button" type="submit" th:value="${qStat.index}" name="answer"> A good answer, but is it correct?</button>
            </div>
            <div class="center question" th:text="${currentQuestionNumber} + '/' + ${totalNumberOfQuestions}">

            </div>
        </form>
    </div>
</div>

<!-- Script 4 progressbar-->
<script th:src="'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'"  src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script type="text/javascript" th:src="@{'/script/script.js'}"   src="/static/script/script.js"></script>
</body>

</html>