<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>Title</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="center">
    <div class="myScore">
        <div class="center"><img class="profile" src="../Static/IMG/Avatar/18.png"></div>
        <h3 class="textC">Personal best</h3>
        <p class="textC">1200</p>
    </div>
</div>
<div class="leaderboards">
    <div class="left">
        <h1> This Week </h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
        </table>
    </div>
    <div class="mid">
        <h1> Top scores </h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
        </table>
    </div>
    <div class="right">
        <h1> Today </h1>
        <table>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>