<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="../static/normalize.css" th:href="'/normalize.css'">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <script src="https://kit.fontawesome.com/d7d94cd613.js" crossorigin="anonymous"></script>
</head>

<body>
<div th:insert="fragments/header :: header"></div>
<section class="site">
    <div class="large-wrapper">
        <div class="top">
            <div class="card">
                <h2>Quizslayer1337</h2>
            </div>
            <img class="profile-img" th:src="${'/IMG/Avatar/18.png'}" src="../Static/IMG/Avatar/18.png">
        </div>

        <div class="small-wrapper">
            <div class="left">
                <div class="card">
                    <h2><a href="">Play against a friend</a></h2>
                    <img class="friends"  th:src="${'/IMG/icons/friends.svg'}" src="../Static/IMG/icons/friends.svg" alt="">
                </div>
                <div class="card-small">
                    <h2><a th:href="'/about-us'" href="/aboutUs">About us </a></h2>
                    <div> <!--Ikoner syns inte-->
                        <i class="fa-solid fa-hand-back-point-right fa-4x"></i>
                        <i class="fa-solid fa-hand-back-point-left fa-4x"></i>
                    </div>
                </div>
            </div>
            <!--ändra onclick länk-->

            <div class="middle" onclick="location.href='http://localhost:8081/trivimania'" style="cursor: pointer;">
                <h2>Play a game </h2>
                <span class="rotate">?!</span>
                <img class="user" th:src="${'/IMG/icons/user.svg'}" src="../Static/IMG/icons/user.svg" alt="">
            </div>

            <div class="right">
                <div class="card ">
                    <img class="crown" th:src="${'/IMG/icons/crown.svg'}" src="../Static/IMG/icons/crown.svg" alt="">
                    <h2><a th:href="'/highscore'" href="/highscore">Leaderboards</a></h2>
                </div>
                <div class="card-small ">
                    <h2><a th:href="'/settings'" href="/settings"> Settings</a></h2>
                    <i class="fa-solid fa-gears fa-4x"></i>
                </div>
            </div>

        </div>
    </div>
</section>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>