<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>Start Multiplayergame</title>
</head>
<body>
<div class="center">
    <div class="center gameboard">
        <div class="center">
            <img class="profile" th:src="${user.avatarId != null} ? 'IMG/Avatar/'+${user.avatarId}+'.png': '/IMG/Avatar/18.png'" src="../Static/IMG/Avatar/18.png">
        </div>
        <div>
            <div class="center">
                <div th:text="${gameId}"> You random Id should be here</div>
            </div>
            <div class="center">
                <button th:href="@{'/game'}" class="option-button"> Start Game
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>