<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <title>Multiplayer Selection</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>
<div class="center">
    <h1>Multiplayer Selection</h1>
</div>
<div class="center">
    <div class="center gameboard">
        <div class="center"><img class="profile"
                                 th:src="${user.avatarId != null} ? 'IMG/Avatar/'+${user.avatarId}+'.png': '/IMG/Avatar/18.png'"
                                 src="../Static/IMG/Avatar/18.png">
        </div>
        <div>
            <div class="center">
                <button th:href="@{'/createmultiplayergame'}" class="option-button" type="submit" name="answer"> Create
                    Game
                </button>
            </div>
            <div class="center">
                <button th:href="@{'/multiplayerguest'}" class="option-button" type="submit" name="answer"> Join
                    Existing Game
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>


