<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Trivimania - Multiplayer - W.I.P</title>
</head>
<body>
<div class="center">
    <img class="login" src="../Static/IMG/FT.JVMLogoClear.png" th:src="'/IMG/FT.JVMLogoClear.png'">
</div>
<div class="center">
    <div class="about">
        <p class="textC">This is an upcoming feature!</p>
        <p class="textC">Keep your eyes open, our engineers are working on it!</p>
        <p class="textC">
            <img class="winston" src="../Static/IMG/multiplayer_pic.jpeg" th:src="'/IMG/multiplayer_pic.jpeg'">
        </p>
        <br>
        <br>
        <p class="textC"><a href="/">Go Home</a></p>
    </div>
</body>
</html>